# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.DS_Store
.idea/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

# roadhog-api-doc ignore
web/src/utils/request-temp.js
web/_roadhog-api-doc
web/node_modules
# production
web/dist

# misc
web/npm-debug.log*
web/yarn-error.log

web/coverage

web/yarn.lock
web/package-lock.json
web/pnpm-lock.yaml
web/*bak


# visual studio code
web/.history
web/*.log
web/functions/*
web/.temp/**

# umi
web/src/.umi
web/src/.umi-production

# screenshot
web/screenshot
web/.firebase
web/.eslintcache

web/build
